/* app css stylesheet */
<style>
table, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 10px;
}
table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}

h1{
    background-color: orange;
    width: 100%;
    font-size: 2em;
}
</style>